<div class="row p-2">
    <div class="card col-8" style="background: transparent; border: 0px;">
        <h5 class="card-title">{{$ctrl.inData.name}}</h5>
        <hr>
        <h6 class="card-subtitle">Rank : {{$ctrl.inData.ranking}}</h6>
        <h6 class="card-subtitle">Score : {{$ctrl.inData.score}}</h6>
    </div>
    <div class="col-4">
        <div class="card p-2" style="border-radius: 20%; background: rgba(0,0,0,0.2)">
            <img ng-src="{{$ctrl.inData.badge+'/preview'}}" class="" style="min-height: 30px; width: auto;"/>
        </div>
    </div>
</div>
<div class="container py-1">
    <div class="row justify-content-center align-items-center">
        <div class="col-2 d-none d-md-block">Last :</div>
        <div class="col-2 px-1" align="center" ng-repeat="l_mat in $ctrl.inData.last" style="min-width: 30px;">
            <i class="fa fa-times" ng-show="l_mat.won === 'lost'" style="color: red;"></i>
            <i class="fa fa-check" ng-show="l_mat.won === 'won'" style="color: green;"></i>
            <i class="fa fa-minus" ng-show="l_mat.won === 'draw'" style="color: gray;"></i>
            <div class="card" style="border-radius: 20%; background: rgba(0,0,0,0.2)">
                <img ng-src="{{l_mat.badge+'/preview'}}" class="" style="min-height: 30px; width: auto;"/>
            </div>
        </div>
    </div>
</div>
<div class="container py-1">
    <div class="row justify-content-center align-items-center">
        <div class="col-2 d-none d-md-block">Next :</div>
        <div class="col-2 px-1" align="center" ng-repeat="l_mat in $ctrl.inData.next" style="min-width: 30px;">
            <i class="fa fa-question" style="color: gray;"></i>
            <div class="card" style="border-radius: 20%; background: rgba(0,0,0,0.2)">
                <img ng-src="{{l_mat.badge+'/preview'}}" class="" style="min-height: 30px; width: auto;"/>
            </div>
        </div>
    </div>
</div>